.create-habits {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.create-habits div{
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000;
    border-radius: 5px;
}

#description {
    height: 80px;
    resize: vertical;
}
.btn-primary {
    background-color: #5e85c1;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #5e85c1;
}