@page "/"

<PageTitle>Home</PageTitle>

<h1>Dashboard</h1>

Welcome to our Habit tracker!

<div class="grid-container">


    <div class="left-column">
        <div>
            <div class="daily-section">
                <div class="habits-header">
                    <h1>Daily Habits </h1>
                </div>
                <div>
                    <p>List of Habits: </p>
                    <p>Total: </p>
                    <p>Completed: </p>
                </div>
            </div>
        </div>
        <div>
            <div class="weekly-section">
                <div class="habits-header">
                    <h1>Weekly Habits </h1>
                </div>
                <div>
                    <p>List of Habits: </p>
                    <p>Total: </p>
                    <p>Completed: </p>
                </div>
            </div>
        </div>
        <div>
            <div class="monthly-section">
                <div class="habits-header">
                    <h1>Monthly Habits </h1>
                </div>
                <div>
                    <p>List of Habits: </p>
                    <p>Total: </p>
                    <p>Completed: </p>
                </div>
            </div>
        </div>
    </div>
    <div class="right-column">
        <div class="motivation-section">
            <div class="right-header">    
                <h2>Motivational Quote</h2>
            </div>
        </div>
        <div class="notes-section">
            <div class="right-header">
                <h1>Notes</h1>
                <form>
                    <textarea id="notes" name="notes" rows="15"></textarea>
                    <button style="float: right;">Save</button>
                </form>
        
            </div>
        </div>
    </div>

</div>
