@page "/settings"

<PageTitle>Settings</PageTitle>

<h1>Setting</h1>

<button class="btn btn-primary" >Change colors</button>
<button class="btn btn-primary" >Logout</button>
<button style="background-color: red; color: white;" class="btn btn-primary" >Deactivate Account</button>