@inherits LayoutComponentBase
@inject NavigationManager Navigation

@code {
    private bool IsLoginOrRegisterPage => Navigation.Uri.Contains("login") || Navigation.Uri.Contains("register");
}

<div class="page">
    @if (!IsLoginOrRegisterPage)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <div class="top-row px-4">
            <a href="/settings">Settings</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />
