<MudNavMenu Class="text-white" Bordered="true">
    <MudText Typo="Typo.h4" Class="px-4 py-2">HabitTracker</MudText>
    <MudDivider Class="mt-1 mb-2" />
    <MudNavLink Style="font-size: 1.2rem;" Icon="@Icons.Material.Filled.SpaceDashboard" Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavGroup Style="font-size: 1.2rem;" Icon="@Icons.Material.Filled.ViewList" Title="Tasks">
        <MudNavLink Style="font-size: 1.2rem;" Href="tasks/daily" Match="NavLinkMatch.Prefix">Daily</MudNavLink>
        <MudNavLink Style="font-size: 1.2rem;" Href="tasks/weekly" Match="NavLinkMatch.Prefix">Weekly</MudNavLink>
        <MudNavLink Style="font-size: 1.2rem;" Href="tasks/monthly" Match="NavLinkMatch.Prefix">Monthly</MudNavLink>
    </MudNavGroup>
    <MudNavLink Style="font-size: 1.2rem;" Icon="@Icons.Material.Filled.CalendarMonth" Href="calendar" Match="NavLinkMatch.Prefix">Calendar View</MudNavLink>
    <MudNavLink Style="font-size: 1.2rem;" Icon="@Icons.Material.Filled.PieChart" Href="data" Match="NavLinkMatch.Prefix">Data</MudNavLink>
</MudNavMenu>

@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">HabitTracker</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tasks/daily">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Daily
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tasks/weekly">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Weekly
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tasks/monthly">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Monthly
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="calendar">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Calendar View
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="plan">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Plan or Make a Habit
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="data">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Data Page
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tracker">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Trackers
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
} *@
